<% if logged_in? %>
    <script type="text/javascript">
        window.currentUser =
            <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
    </script>
<% end %>

<script type="text/javascript">
 window.avatar= "<%= image_url('avatar.jpg') %>"
 window.herotest1= "<%= image_url('herotest1.jpg') %>"
 window.pic1 = "<%= image_url('pic1.jpg') %>"
 window.pic2 = "<%= image_url('pic2.jpg') %>"
 window.pic3 = "<%= image_url('pic3.jpg') %>"
 window.pic5 = "<%= image_url('pic5.jpg') %>"
 window.pic7 = "<%= image_url('pic7.jpg') %>"
 window.rugged = "<%= image_url('rugged.jpg') %>"
 window.aesthetic = "<%= image_url('aesthetic.jpg') %>"
 window.violent = "<%= image_url('violent.jpg') %>"
 window.culinary = "<%= image_url('culinary.jpg') %>"
 window.linguistic = "<%= image_url('linguistic.jpg') %>"
</script>


<main id='root'>React Broke</main>